* {
  box-sizing: border-box;
}

.main-site-body {
  background: $backdrop;
  font-family: 'Roboto', sans-serif;
}

.main-site-wrapper {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

i {
  color: #000;
  background-color: #06D6A0;
}