/* Descriptive Colour Variables */
$romance: #FFFCF9;
$caribbean-green: #06D6A0;
$golden-tainoi: #FFD166;
$french-rose: #EF476F;
$bay-of-many: #26547C;
$white: #FFF;

/* Functional Colour Variables */
$backdrop: $romance;
$header-color: $bay-of-many;
$font-color-light: $romance;
$button-color: $french-rose;
$primary-font-color: $bay-of-many;