/* +++-------------------------------------------+++
BASE ELEMENT STYLES
+++-------------------------------------------+++ */

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	line-height: 1.6;
	color: #696969;
	margin: 0 auto;
}

h2 {
	font-size: .9em;
	margin-top: 40px;
	margin-bottom: 40px;
}

h3 {
	font-weight: normal;
	color: #CD9B1D;
}

h2,
h3,
p,
li {
	text-align: center;
}

p {
	font-size: .95em;
	font-weight: 300;
	margin-bottom: 1.5em;
}

a { 
	color: #696969;
	text-decoration: none;
}

/* +++-------------------------------------------+++
BASE LAYOUT STYLES
+++-------------------------------------------+++ */

/* -+- Navigation -+- */

.name {
	font-size: 1.5em;
}

.name,
.main-nav a,
h2 {
	color: #454545;
}

.main-nav li {
	text-align: center;
	background: #fff;
	margin-top: 4px;
	margin-bottom: 4px;
}

.main-nav a {
	font-size: .9em;
	font-weight: bold;
}

.main-nav a:hover {
	color: #FFC125;
}

.name a,
.main-nav a {
	padding: 10px 15px;
	display: block;
}

.primary-content ul li img {
	max-width: 90%;
}

/* -+- Layout Containers -+- */

.container {
	width: 90%;
	margin: 0 auto;
}

.main-header {
	text-align: center;
	background: #F7F7F7;
	padding: 1em 0;
}

.profile-pic {
	max-width: 60%;
	margin-top: 40px;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background: #F7F7F7;
}

/* -+- Page Elements -+- */

img {
	border: 5px solid #ccc;
	border-radius: 5px;
    transition: all .5s;
    transition-timing-function: linear;
    box-shadow: 3px 3px 5px #888888;
}

img:hover {
	transform: scale(1.2) rotate(20deg);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.secondary-content {
	margin-bottom: 60px;
}

.secondary-content li a {
	font-size: 0.8em;
}

.secondary-content li a:hover {
	color: #FFC125;
}

.main-footer p {
	width: 90%;
	margin: 0 auto 30px;
}

.main-footer ul {
	margin-bottom: 60px;
}

.bottom-main-nav {
	display: none;
}

.bottom-nav {
	padding-top: 20px;
	border-top: 1px solid #ccc;
	display: flex;
	justify-content: space-around;
}

#student-name {
	text-align: left;
}

#back-to-top {
	text-align: right;
}

#student-name,
#back-to-top {
	font-weight: bold;
	font-size: 0.8em;
}

.main-footer ul li {
	font-weight: 300;
}

.main-footer ul li a {
	font-weight: bold;
	margin-left: 15px;
}









































