.main-site-welcome {
}

.main-site-welcome__title {
  font-weight: 300;
  color: $primary-font-color;
  font-size: 1.8rem;
  text-align: center;
}

.main-site-welcome__para {
  text-align: center;
  color: $primary-font-color;
  font-weight: 300;
}